@import "tailwindcss";

:root{
  --bg-primary: #0d1117;
  --bg-secondary: #161b22;
  --border: #30363d;
  --accent: #3fb950;
  --accent-dim: #238636;
  --text-primary: #e6edf3;
  --text-muted: #8b949e;
  --text-link: #58a6ff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}

